body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*#description{*/
    /*position: absolute;*/
    /*top: 25%;*/
    /*left: 10%;*/
    /*color: gold;*/
    /*font-size: 30px;*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
/*}*/

/*#game-buttons{*/
    /*position: absolute;*/
    /*top: 75%;*/
    /*left: 35%;*/
    /*display: inline-block;*/
/*}*/

/*#title{*/
    /*position: absolute;*/
    /*top: 7%;*/
    /*left: 10%;*/
    /*color: orangered;*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-size: 70px;*/

/*}*/

#game-container{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}

button{
    background-color: black;
    border: solid red;
    color: orange;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    width: 150px;
    height: 30px;
    margin: 20px;
}

button:hover{
    background-color: darkred;
}

/*#inventoryItem{*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*position: absolute;*/
    /*top: 30%;*/
    /*left: 0;*/
/*}*/

/*Vanaf hier beginnen de classes*/

.homescreenbutton{
    display: block;
    position: absolute;
    left: 10%;
    top: 60%;
    width: 150px;

}

.gamebuttons{
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 35%;
}

.titelstart{
    position: absolute;
    top: 7%;
    left: 10%;
    color: orangered;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;

}

.textstart{
    position: absolute;
    top: 25%;
    left: 10%;
    color: gold;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;

}

.gametitels{
    position: absolute;
    left: 15%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    color: antiquewhite;


}

.gametexts{
    position: absolute;
    left: 15%;
    top: 15%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: antiquewhite;
    width: 350px;
}

.item1{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 95%;
    left: 20%;
}

.item2{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13%;
    left: 10%;
}

.item3{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 95%;
    left: 50%;
}

.aboutbuttons{
    position: absolute;
    top: 5%;
    left: 5%;
}

.buttonabout{
    color: white;
    border: none;
}

.buttonabout:hover{
    background-color: gray;
}

.titelabout{
    color: antiquewhite;
    position: absolute;
    top: 10%;
    left: 25%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
}

.textabout{
    color: antiquewhite;
    position: absolute;
    top: 24%;
    left: 25%;
    width: 600px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}